body {
    background-image: url("./nine.jpg"); /* Replace with your image path */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white; /* Text color */
}

.card {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for the card */
}

.weather-table th {
    color: white; /* Header text color */
}

.weather-table td {
    color: white; /* Data text color */
}

.weather-table th, .weather-table td {
    border: none; /* Remove border from table cells */
}
